In [2]:
import pandas as pd

### Series Concatenation

In [48]:
ser1=pd.Series(['A', 'B', 'C'], index=[1,2,3])
ser1

1    A
2    B
3    C
dtype: object

In [47]:
ser2=pd.Series(['D', 'E', 'F'], index=[4,5,6])
ser2

4    D
5    E
6    F
dtype: object

In [50]:
#concat () function  for concatenating the  series
#stack the  series one below the other
print("Concatenated series is \n", pd.concat([ser1, ser2]))

Concatenated series is
 1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [11]:
ser3=pd.Series(['F', 'G', 'H'], index=[9,10,11])
ser3

9     F
10    G
11    H
dtype: object

In [12]:
list=[ser1,ser2,ser3]
print(pd.concat(list))

1     A
2     B
3     C
4     D
5     E
6     F
9     F
10    G
11    H
dtype: object

###  DatafRame Concatenation

In [15]:
df1=pd.DataFrame({'A':['axe', 'art', 'ant'], 'B':['bat', 'bar', 'bin'],  'C': ['cap', 'cat', 'car']})
df1

     A    B    C
0  axe  bat  cap
1  art  bar  cat
2  ant  bin  car

In [25]:
df2=pd.DataFrame({'D':['dog', 'den', 'dot'], 'E':['ear', 'eat', 'egg'],  'F': ['fan', 'fat', 'fog']})
df2

     D    E    F
0  dog  ear  fan
1  den  eat  fat
2  dot  egg  fog

###  Concatention can be rowwise one DF below another axis =0
###  columns stacked alongside axis=1

In [23]:
print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=0))
#for overlapping columns  the values are also stacked one  below 
#concatentaion with axis=0 considers the overlap of columns

Concatenated dataframes axis=0
      A    B    C    D
0  axe  bat  cap  NaN
1  art  bar  cat  NaN
2  ant  bin  car  NaN
0  NaN  ear  fan  dog
1  NaN  eat  fat  den
2  NaN  egg  fog  dot

In [27]:
print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=0,  ignore_index=True))

Concatenated dataframes axis=0
      A    B    C    D    E    F
0  axe  bat  cap  NaN  NaN  NaN
1  art  bar  cat  NaN  NaN  NaN
2  ant  bin  car  NaN  NaN  NaN
3  NaN  NaN  NaN  dog  ear  fan
4  NaN  NaN  NaN  den  eat  fat
5  NaN  NaN  NaN  dot  egg  fog

In [26]:
print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=1))

Concatenated dataframes axis=0
      A    B    C    D    E    F
0  axe  bat  cap  dog  ear  fan
1  art  bar  cat  den  eat  fat
2  ant  bin  car  dot  egg  fog

In [32]:
#case for common columns
df1=pd.DataFrame({'A':['axe', 'art', 'ant'], 'B':['bat', 'bar', 'bin'],  'C': ['cap', 'cat', 'car']})
df2=pd.DataFrame({'D':['dog', 'den', 'dot'], 'B':['ear', 'eat', 'egg'],  'C': ['fan', 'fat', 'fog']})
print(df1)
print(df2)
#print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=0, ignore_index=True))
print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=1))
#with repeated columns   it will just append the columns
#it will consider common rows

     A    B    C
0  axe  bat  cap
1  art  bar  cat
2  ant  bin  car
     D    B    C
0  dog  ear  fan
1  den  eat  fat
2  dot  egg  fog
Concatenated dataframes axis=0
      A    B    C    D    B    C
0  axe  bat  cap  dog  ear  fan
1  art  bar  cat  den  eat  fat
2  ant  bin  car  dot  egg  fog

### Axis=0
* Concatenation just appends on dataframe below another
* considers the intersection of columns stcaks values for them one below another
* rowise indices if there is repition it reains the repitions

### Axis=1
* Concatenation just appends one dataframe alonside the other columns are put together
* considers the intersection of rows stcaks values for them one on the side of other
* column  indices(column names) if there is repition it retains the repetitions

In [37]:
#case for no common  rows
df1=pd.DataFrame({'A':['axe', 'art', 'ant'], 'B':['bat', 'bar', 'bin'], 
                  'C': ['cap', 'cat', 'car']}, index=[1,2,3])
df2=pd.DataFrame({'D':['dog', 'den', 'dot'], 'E':['ear', 'eat', 'egg'], 
                  'F': ['fan', 'fat', 'fog']}, index =[1,2,3])
print(df1)
print(df2)
print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=1))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
     D    E    F
1  dog  ear  fan
2  den  eat  fat
3  dot  egg  fog
Concatenated dataframes axis=0
      A    B    C    D    E    F
1  axe  bat  cap  dog  ear  fan
2  art  bar  cat  den  eat  fat
3  ant  bin  car  dot  egg  fog

* eg: of two file having common empids and different columns 
*  one file has name and address
* another file has dept salary

In [38]:
#case for common row indices columns
df1=pd.DataFrame({'A':['axe', 'art', 'ant'], 'B':['bat', 'bar', 'bin'], 
                  'C': ['cap', 'cat', 'car']}, index=[1,2,3])
df2=pd.DataFrame({'D':['dog', 'den', 'dot'], 'E':['ear', 'eat', 'egg'], 
                  'F': ['fan', 'fat', 'fog']}, index =[2,3,4])
print(df1)
print(df2)
print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=1))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
     D    E    F
2  dog  ear  fan
3  den  eat  fat
4  dot  egg  fog
Concatenated dataframes axis=0
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  dog  ear  fan
3  ant  bin  car  den  eat  fat
4  NaN  NaN  NaN  dot  egg  fog

In [40]:

print(df2)
print("Concatenated dataframes axis=0\n#case forno  common row indices columns
df1=pd.DataFrame({'A':['axe', 'art', 'ant'], 'B':['bat', 'bar', 'bin'], 
                  'C': ['cap', 'cat', 'car']}, index=[1,2,3])
df2=pd.DataFrame({'D':['dog', 'den', 'dot'], 'E':['ear', 'eat', 'egg'], 
                  'F': ['fan', 'fat', 'fog']}, index =[4,5,6])
print(df1)", pd.concat([df1,df2], axis=0))

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
     D    E    F
4  dog  ear  fan
5  den  eat  fat
6  dot  egg  fog
Concatenated dataframes axis=0
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
4  NaN  NaN  NaN  dog  ear  fan
5  NaN  NaN  NaN  den  eat  fat
6  NaN  NaN  NaN  dot  egg  fog

In [41]:
#case forno  common row indices columns
df1=pd.DataFrame({'A':['axe', 'art', 'ant'], 'B':['bat', 'bar', 'bin'], 
                  'C': ['cap', 'cat', 'car']}, index=[1,2,3])
df2=pd.DataFrame({'D':['dog', 'den', 'dot'], 'E':['ear', 'eat', 'egg'], 
                  'F': ['fan', 'fat', 'fog']}, index =[4,5,6])
#conacatenation on axis =0 stacks the rows repition of row is retained, 
#stack the overllaping column values
#concatenation axis=1 stacks the columns repition of column is reatined,
#stack the overlapping row value
print(df1)
print(df2)
print("Concatenated dataframes axis=0\n", pd.concat([df1,df2], axis=1))

### Merge  is based on a common column

In [44]:
df_stud = pd.DataFrame({'St_id': [101,102,103,104,105],'Branch': ['IT','CS','ECE','CS','Mech']})
df_stud

   St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   Mech

In [51]:
df_fac = pd.DataFrame({'F_id' : [110,120,130,140,150 ],'F_name' : ['A', 'B', 'C', 'D', 'E'],'Branch': ['ECE','Mech', 'EEE', "IT", 'CS'] })
#print("Student dataframe: \n", df_stud,'\nFaculty Dataframe :\n', df_fac)
df_fac
#print(pd.concat([df_stud, df_fac], axis=1))
print(pd.merge(df_stud, df_fac,on='Branch', sort=True))

   St_id Branch  F_id F_name
0    102     CS   150      E
1    104     CS   150      E
2    103    ECE   110      A
3    101     IT   140      D
4    105   Mech   120      B

In [52]:
df1 = pd. DataFrame({'key' :['b', 'a', 'd','e'], 'data1': [0,4,6,8]}) #has unique
df2 =pd. DataFrame({'key' :['a', 'b', 'd', 'f'], 'data2': [3,6,9,11]})   # has unique row labels
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9

In [53]:
print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   # union of keys

Outer Join:
   key  data1  data2
0   a      4    3.0
1   b      0    6.0
2   d      6    9.0
3   e      8    NaN

In [57]:
print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))
# intersectionof keys

Inner Join:
   key  data1  data2
0   a      4      3
1   b      0      6
2   d      6      9

In [55]:
df1 = pd. DataFrame({'key' :['b', 'a', 'd','e'], 'data1': [0,4,6,8]}) #has unique
df2 =pd. DataFrame({'key' :['a', 'b', 'd', 'f'], 'data2': [3,6,9,11]})   # has unique row labels
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11

In [19]:
print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))
# keys from left dataframe

Left Join:
   key  data1  data2
0   a      4      3
1   b      0      6
2   d      6      9

In [58]:
print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))
# keys from Right dataframe

Right Join:
   key  data1  data2
0   a    4.0      3
1   b    0.0      6
2   d    6.0      9
3   f    NaN     11

### Summary of the above 
#### One One join with four cases outer, inner, left and right

In [60]:
#many one merge
df1=pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a','a'], 'data1':[10,20,30,40,50,60]})
df2=pd.DataFrame({'key':['a', 'b', 'd'], 'data2':[100, 200, 300]})
print("\n", df1)
print("\n", df2)
#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# union of keys 
#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))    
# intersection of keys 
#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))  
#  keys from left dataframe
print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True))   
#  keys from right  dataframe

   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60

   key  data2
0   a    100
1   b    200
2   d    300
Right Join:
   key  data1  data2
0   a   30.0    100
1   a   50.0    100
2   a   60.0    100
3   b   10.0    200
4   b   20.0    200
5   d    NaN    300

In [44]:
# Many many merge
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a', 'a'], 'data1': [10,20,30,40,50,60]})  
#has multiple rows labelled a and b
df2 = pd.DataFrame({'key' : ['a', 'b', 'b', 'a', 'd'], 'data2': [100,200,300,400,500]})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

#Example of many to many  merge situation
#No of rows in the dataframe = 6x5 for outer

#print("Outer Join:\n", pd.merge(df1, df2, on ='key', how = 'outer', sort=True))   
# Union of keys 

#print("Inner Join:\n", pd.merge(df1, df2, on ='key', how = 'inner', sort=True))   
# Intersection of keys

#print("Left Join:\n", pd.merge(df1, df2, on ='key', how = 'left', sort=True))    
#  keys from left dataframe

print("Right Join:\n", pd.merge(df1, df2, on ='key', how = 'right', sort=True, indicator=True))  
# Here left and outer is same and Right and Inner is same

DataFrame1 :
   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
5   a     60
DataFrame2 :
   key  data2
0   a    100
1   b    200
2   b    300
3   a    400
4   d    500
Right Join:
    key  data1  data2      _merge
0    a   30.0    100        both
1    a   50.0    100        both
2    a   60.0    100        both
3    a   30.0    400        both
4    a   50.0    400        both
5    a   60.0    400        both
6    b   10.0    200        both
7    b   20.0    200        both
8    b   10.0    300        both
9    b   20.0    300        both
10   d    NaN    500  right_only

## Session 24_01_2021

###  Merge over indices
* left_index and right_index flags can be used to perform merge over the similar index of the dataframes.
* Also, join( ) method in the DataFrame class performs the merge by default on indices

In [54]:
df1 = pd. DataFrame({'key' :['b', 'a', 'd','e'], 'data1': [0,4,6,8]}) #has unique
df2 =pd. DataFrame({'key' :['a', 'b', 'd', 'f'], 'data2': [3,6,9,11]})   # has unique row labels
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11

In [55]:
print('\nUsing merge on indices: \n',pd.merge(df1, df2, how='outer', left_index=True, right_index=True))
#by default it adds suffixes _x  and _y on the common column
#by default how=inner. here  we can have all options

Using merge on indices:
   key_x  data1 key_y  data2
0     b      0     a      3
1     a      4     b      6
2     d      6     d      9
3     e      8     f     11

In [68]:
#DataFrame has a convenient join method for merging by index
#print('\nUsing join( ): \n', df1.join(df2))
print('\nUsing join( ): \n', df1.join(df2, how='inner', lsuffix='_df1', rsuffix='_df2'))
#lsuffix='_x', rsuffix='_y')
#default  is left  join

Using join( ):
   key_df1  data1 key_df2  data2
0       b     10       a    100
1       b     20       b    200
2       a     30       a    300
3       c     40       d    400

In [6]:
print("Concatenated dataframes axis=1\n", pd.concat([df1,df2], axis=1))

Concatenated dataframes axis=0
   key  data1 key  data2
0   b      0   a      3
1   a      4   b      6
2   d      6   d      9
3   e      8   f     11

In [58]:
# for merge by index if we have a different index
df1 = pd. DataFrame({'key' :['b', 'a', 'd','e'], 'data1': [0,4,6,8]}, index= [10,20,30,40]) #has unique
df2 =pd. DataFrame({'key' :['a', 'b', 'd', 'f'], 'data2': [3,6,9,11]}, index  = [40,50,60,70])   # has unique row labels
print('\nUsing merge on indices: \n',pd.merge(df1, df2, how='inner' , left_index=True, right_index=True))

Using merge on indices:
    key_x  data1 key_y  data2
40     e      8     a      3

In [60]:
# If we want to join using the key columns, we need to set key to be the index in both `df1` and `df2`.
# The joined DataFrame will then have the  key as its index
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a'], 'data1': [10,20,30,40,50]})  
#has multiple rows labelled a and b

df2 = pd.DataFrame({'key' : ['a', 'b', 'a', 'd'], 'data2': [100,200,300,400]})
print("DataFrame1 : \n", df1, '\nDataFrame2 :\n', df2)

DataFrame1 :
   key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50
DataFrame2 :
   key  data2
0   a    100
1   b    200
2   a    300
3   d    400

In [70]:
dfn1 = df1.set_index('key')
dfn2 = df2.set_index('key')
print(dfn1)
print('\n Using merge on indices: \n',pd.merge(dfn1, dfn2, left_index=True, right_index=True))
#For merge how="inner"
#print('\nUsing join( ): \n', dfn1.join(dfn2, lsuffix='_x', rsuffix='_y'))
#for join how='left' by default

     data1
key
b       10
b       20
a       30
c       40
a       50

 Using merge on indices:
      data1  data2
key
a       30    100
a       30    300
a       50    100
a       50    300
b       10    200
b       20    200

## An Example

In [62]:
df_stud = pd.DataFrame({'St_id': [101,102,103,104,105],'Branch': ['IT','CS','ECE','CS','Mech']})
df_fac = pd.DataFrame({'F_id' : [110,120,130,140,150 ],'F_name' : ['A', 'B', 'C', 'D', 'E'],
                       'Branch': ['ECE','Mech', 'EEE', "IT", 'CS'] })
print("Student dataframe: \n", df_stud,'\nFaculty Dataframe :\n', df_fac)

Student dataframe:
    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   Mech
Faculty Dataframe :
    F_id F_name Branch
0   110      A    ECE
1   120      B   Mech
2   130      C    EEE
3   140      D     IT
4   150      E     CS

In [63]:
# Merge on commom column i.e Branch
#next try all values of how= inner, outer, left, right
df_merge = pd.merge(df_stud, df_fac, on = 'Branch', how='inner', sort = True)
print("Merged dataframe : \n ", df_merge)   #Merge on a common column

Merged dataframe :
     St_id Branch  F_id F_name
0    102     CS   150      E
1    104     CS   150      E
2    103    ECE   110      A
3    101     IT   140      D
4    105   Mech   120      B

* When similar columns have different names in different dataframes

In [64]:
df_stud = pd.DataFrame({'St_id': [101,102,103,104,105],'Branch': ['IT','CS','ECE','CS','Mech']})
df_fac1 = pd.DataFrame({'F_name' : ['A', 'B', 'C', 'D', 'E'],
                        'Stream': ['ECE','Mech', 'EEE', "IT", 'CS'] })
#print("Student Details : \n", df_stud, 'Faculty Details: \n', df_fac)
print("Merged Dataframes : \n", pd.merge(df_stud, df_fac1, left_on = 'Branch', right_on = 'Stream'))

Merged Dataframes :
    St_id Branch F_name Stream
0    101     IT      D     IT
1    102     CS      E     CS
2    104     CS      E     CS
3    103    ECE      A    ECE
4    105   Mech      B   Mech

In [75]:
# the redundant column can also be dropped
new_df=pd.merge(df_stud, df_fac1, left_on = 'Branch', right_on = 'Stream')
new_df

print(new_df.drop('Stream', axis = 1))

   St_id Branch F_name
0    101     IT      D
1    102     CS      E
2    104     CS      E
3    103    ECE      A
4    105   Mech      B

## Merge over indices same example

In [31]:
print('\n Using merge on indices: \n',pd.merge(df_stud, df_fac, left_index=True, right_index=True))
print('\n Using join( ): \n', df_stud.join(df_fac, lsuffix='_stud', rsuffix='_fac'))

 Using merge on indices:
    St_id Branch_x  F_id F_name Branch_y
0    101       IT   110      A      ECE
1    102       CS   120      B     Mech
2    103      ECE   130      C      EEE
3    104       CS   140      D       IT
4    105     Mech   150      E       CS

 Using join( ):
    St_id Branch_stud  F_id F_name Branch_fac
0    101          IT   110      A        ECE
1    102          CS   120      B       Mech
2    103         ECE   130      C        EEE
3    104          CS   140      D         IT
4    105        Mech   150      E         CS

In [34]:
#will merge with the default common index else set_index as Branch
df1 = df_stud.set_index('Branch')
df2 = df_fac1.set_index('Stream')
print("Student Details : \n", df1, '\n Faculty Details: \n', df2)
#print('\nUsing merge on indices: \n',pd.merge(df1, df2, left_index=True, right_index=True))
print('\nUsing join( ): \n', df1.join(df2))

Student Details :
         St_id
Branch
IT        101
CS        102
ECE       103
CS        104
Mech      105
 Faculty Details:
        F_name
Stream
ECE         A
Mech        B
EEE         C
IT          D
CS          E

Using join( ):
       St_id F_name
CS      102      E
CS      104      E
ECE     103      A
IT      101      D
Mech    105      B